<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mukesh.androidtrials" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".JsonParsingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity android:name=".NoDisplayActivity"
            android:theme="@android:style/Theme.NoDisplay">

        </activity>
        <activity android:name=".ColorPickerActivity" >

        </activity>
        <activity android:name=".ThreadTrialsActivity">

        </activity>
        <activity android:name=".FileExperimentActivity">


        </activity>
        <activity android:name=".UpdradeTrialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DummyActivity" >

        </activity>
        <activity android:name=".UploadActivity" />
        <service android:name=".LongRunningService" />
        <receiver android:name=".PowerChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
